<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Apple/Safari icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/icon180.jpg">
    <!-- Square Windows tiles -->
    <meta name="msapplication-square70x70logo" content="/icon70.jpg">
    <meta name="msapplication-square150x150logo" content="/icon150.jpg">
    <meta name="msapplication-square310x310logo" content="/icon310.jpg">


    @*== FOR SNS ==*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="anime, cosplay, otaku, IT, photo, photography, landscapes,　figures, pvc, nendoroid, nendroid, аниме, косплей, отаку, фото, фотография, фигурки, пейзажи, нендройд アニメ, コスプレ, フィギュア, 写真, オタク, ねんどろいど" />
    <meta name="author" content="Dmitry Kuznetsov aka 「dkx86」">

    <meta property="og:type" content="website">
    <meta property="og:title" content="@ViewData["Title"] - dkx86・weblog">
    <meta property="og:site_name" content="dkx86.ru">
    <meta property="og:description" content="IT・Photography・Otaku Culture">
    @* == FOR SNS END ==*@


    <title>@ViewData["Title"] - dkx86・weblog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/jester_box.css" />
    <link rel="stylesheet" href="~/css/glitch.css" />
    <script type="text/javascript">
        function getMail() {
            link = "znvygb:qxk86@bhgybbx.pbz".replace(/[a-zA-Z]/g, function (c) { return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ? c : c - 26); });
            window.location.href = link;
        }
    </script>

</head>
<body >
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand glitch" asp-area="" asp-controller="Home" asp-action="Index" >「 dkx86・weblog 」</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark glitch" asp-area="" asp-controller="Blog" asp-action="Index">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark glitch" asp-area="" asp-controller="Photo" asp-action="Index">PHOTO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark glitch" asp-area="" asp-controller="Downloads" asp-action="Index">DONWLOADS</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link  text-dark dropdown-toggle glitch" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">SNS</a>
                            <div class="dropdown-menu bg-light ">
                                <a class="dropdown-item text-dark bg-light glitch" href="https://vk.com/dkx86" target="_blank">VK</a>
                                <a class="dropdown-item text-dark bg-light glitch" href="https://www.behance.net/dkx86" target="_blank">Behance</a>
                                <a class="dropdown-item text-dark bg-light glitch" href="https://github.com/dkx86" target="_blank">GitHub</a>
                                <a class="dropdown-item text-dark bg-light glitch" href="http://youtube.com/c/DmitryKuznetsov" target="_blank">YouTube</a>
                                <a class="dropdown-item text-dark bg-light glitch" href="#" rel="nofollow" onClick="getMail();">E-mail</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ">
        <div class="container">
            
            <div class="row">
                <small class="col-12 text-wrap">
                    &copy; 2020 - Dmitry Kuznetsov aka 「dkx86」
                    <a class="" asp-area="" asp-controller="Home" target="_blank" asp-action="Rss">
                        <img src="~/rss.gif" alt="RSS feed" title="RSS feed" />
                    </a>
                </small>
            </div>
            <div class="row">
                <div class="col-12 text-wrap">
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
                    </a>
                    <small>
                        All works are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                            Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
                        </a>
                    </small>
                </div>
            </div>
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
