<div class="d-flex flex-row mb-2 ">
    <div class=" m-1">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class=" m-1">
        <script type="text/javascript">
            document.write(VK.Share.button(false, { type: "button", text: "Share" }));
        </script>
    </div>
</div>

