/* JesterBox 
* Author: Schizohatter/Soanvig (http://schizohatter.tk)
* More information in readme (https://github.com/soanvig/JesterBox)
*/

.JesterBox .JesterBoxDiv {
    visibility: hidden;
    position: fixed;
    top: 2%;
    right: 2%;
    bottom: 2%;
    left: 2%;
    z-index: 75;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JesterBox .JesterBoxDiv:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 74;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-out;
}

.JesterBox .JesterBoxDiv img {
    position: relative;
    z-index: 77;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    transition-property: all, opacity;
    transition-duration: 0.5s, 0s;
    transition-timing-function: ease-in-out, ease-out;
}


.JesterBox .JesterBoxDiv .overlay {
    position: relative;
    z-index: 77;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    transition-property: all, opacity;
    transition-duration: 0.5s, 0s;
    transition-timing-function: ease-in-out, ease-out;
}

.JesterBox .JesterBoxDiv:target {
    visibility: visible;
}

.JesterBox .JesterBoxDiv:target:before {
    background-color: rgba(0, 0, 0, 0.95);
}

.JesterBox .JesterBoxDiv:target img {
    margin-left: 0px;
    opacity: 1;
}


.JesterBox .JesterBoxDiv:target .overlay {
    position: absolute;
    margin-left: 0px;
    opacity: 1;
    z-index: 78;
}

.overlay {
    position: absolute;
    bottom: 0;
    
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

