@model IEnumerable<dkx86weblog.Models.Photo>

@{
    ViewData["Title"] = "Photos";
}
 

<div class="card-columns">
    @foreach (var photo in Model)
    {
        <div class="card photo-card">
            <img src="/photos/@photo.GetPreviewFileName()" class="card-img-top" alt="@photo.Title">
        </div>

    }
</div>


