@model dkx86weblog.Models.PhotoViewModel

@{
    ViewData["Title"] = "Photos";
}

@await Html.PartialAsync("_PaginationPartial", @Model.PageModel)
<div class="card-columns">
    @foreach (var photo in Model.Items)
    {
        <div class="card photo-card">
            <a href="#photo_@photo.ID">
                <img src="/photos/@photo.GetPreviewFileName()" class="card-img-top" alt="@photo.Title" data-toggle="modal" data-target="#enlargeImage_@photo.ID" />
            </a>
        </div>
        

    }
</div>

<a href="#" class="JesterBox">
    @foreach (var photo in Model.Items)
    {
        <div id="photo_@photo.ID"><img src="~/photos/@photo.GetPreviewFileName()"></div>
    }
</a>

@await Html.PartialAsync("_PaginationPartial", @Model.PageModel)
