@model List<dkx86weblog.Models.Post>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <!--------------------------------------Avatar and title --------------------------------------->
    <div class="row">
        <div class="text-center col-12">
            <img src="userpic.png" class="rounded-circle glitchImage" />
            <h3>Dmitry Kuznetsov</h3>
            <small>IT・Photography・Otaku Culture</small>
        </div>
    </div>

    <!------------------------------------------- SNS ---------------------------------------------->
    <hr class="w-25" />
    <div class="row m-2">
        <div class="col-12">
            <a href="https://vk.com/dkx86" target="_blank" class="p-2 btn">
                <img src="~/vk.png" class="glitchImage" />
            </a>
            <a href="https://github.com/dkx86" target="_blank" class="p-2 btn">
                <img src="~/git.png" class="glitchImage" />
            </a>
            <a class="p-2 btn" asp-area="" asp-controller="Home" target="_blank" asp-action="Rss">
                <img src="~/rss.png" class="glitchImage" />
            </a>
        </div>
    </div>
</div>

<!------------------------------------------- LAST POSTS ---------------------------------------------->


<div class="row row-cols-1 mt-5">
    <div class="col">
        @foreach (var item in Model)
        {

            <div class="card nrw-card-bg mb-4">
                <div class="card-body glitchPost">
                    <h6 class="card-subtitle small mb-2 text-muted">@item.CreateTime</h6>
                    <h4 class="card-title ml-2 mb-4 glitchTitle">@item.Title</h4>
                    <p class="card-text post_body ml-2">@item.GetPreview()</p>
                    <a asp-controller="Blog" asp-action="Post" asp-route-id="@item.ID" class="card-link stretched-link"></a>
                </div>
            </div>
        }
    </div>
</div>

<div class="d-flex flex-row-reverse m-2">
    <a class="btn btn-dark col-sm-1 col-md-2 " asp-area="" asp-controller="Blog" asp-action="Index">Read more</a>
</div>
